## [Start] Setting "currency" to default value of "COP". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "COP")))
## [End] Setting "currency" to default value of "COP". **
{}